<template>
 <el-container style="height: 100%"> 
  <el-aside :width="sideWidth+'px'" style="background-color: rgb(238, 241, 246) ;height: 100%;">
    <el-menu :default-openeds="['1', '3']" style="min-height: 100%; overflow-x: hidden;"
      background-color="rgb(48,65,86)"
      text-color="#fff"
      active-text-color="#ffd04b"
      :collapse-transition="false"
      :collapse="isCollapse"
    >
    
    <div style="height: 60px; line-height: 60px; text-align: center;"> 
      <img src="../assets/logo.png" alt="" style="width: 20px; position: relative; top: 5px;margin-right: 5px;">
      <b style="color: white;" v-show = "logoTextShow">后台管理系统</b>
    </div>
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-message"></i>
         <span slot="title"> 导航一</span>
        </template>
        <el-menu-item-group>
          <template slot="title">分组一</template>
          <el-menu-item index="1-1">选项1</el-menu-item>
          <el-menu-item index="1-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="1-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">选项4</template>
          <el-menu-item index="1-4-1">选项4-1</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-submenu index="2">
        <template slot="title"><i class="el-icon-menu"></i><span slot="title"> 导航二</span></template>
        <el-menu-item-group>
          <template slot="title">分组一</template>
          <el-menu-item index="2-1">选项1</el-menu-item>
          <el-menu-item index="2-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="2-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="2-4">
          <template slot="title">选项4</template>
          <el-menu-item index="2-4-1">选项4-1</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-submenu index="3">
        <template slot="title"><i class="el-icon-setting"></i><span slot="title"> 导航三</span></template>
        <el-menu-item-group>
          <template slot="title">分组一</template>
          <el-menu-item index="3-1">选项1</el-menu-item>
          <el-menu-item index="3-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="3-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="3-4">
          <template slot="title">选项4</template>
          <el-menu-item index="3-4-1">选项4-1</el-menu-item>
        </el-submenu>
      </el-submenu>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style=" font-size: 12px ;border-bottom: 1px solid #ccc; line-height: 60px; display: flex;">
      <div style="flex: 1;font-size: 30px;">
        <span :class="collapseBtnClass" style="cursor: pointer;" @click="collapse"></span>

      </div>
      <el-dropdown style="width: 70px; cursor: pointer;">
        
        <span>王小虎</span><i class="el-icon-arrow-down" style="margin-left: 5px;"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>个人信息</el-dropdown-item>
          <el-dropdown-item>退出</el-dropdown-item>
        
        </el-dropdown-menu>
      </el-dropdown>
      
    </el-header>

    <!-- 页签 -->
    <el-breadcrumb separator="/">
  <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
  
  <el-breadcrumb-item>用户管理</el-breadcrumb-item>
  <el-breadcrumb-item>活动详情</el-breadcrumb-item>
</el-breadcrumb>
    
    <el-main>
<!-- 搜索框 -->
      <div style="padding: 10px 0">
        <el-input placeholder="请输入名称" v-model="input" clearable style="width: 200px;" suffix-icon ="el-icon-search"></el-input>
        <el-input placeholder="请输入邮箱" v-model="input" clearable style="width: 200px;" suffix-icon ="el-icon-message" class="ml-5"></el-input>
        <el-input placeholder="请输入地址" v-model="input" clearable style="width: 200px;" suffix-icon ="el-icon-position" class="ml-5"></el-input>
        <el-button class="ml-5" type="primary" icon="el-icon-search" @click="search">搜索</el-button>  
      </div>
      <!-- 新增 -->
      <div style="margin: 10px 0;">
        <el-button type="primary" icon="el-icon-plus" @click="dialogVisible = true">新增</el-button> 
        <!-- 批量删除  -->
        <el-button type="danger" icon="el-icon-delete" @click="batchDelete">批量删除</el-button>  
        <!-- 批量导入 -->
        <el-button type="success" icon="el-icon-upload2" @click="batchImport">批量导入</el-button> 
        <!-- 导出  -->
        <el-button type="warning" icon="el-icon-download" @click="batchExport">批量导出</el-button> 
      </div>

      <el-table :data="tableData" border stripe :header-cell-class-name="headerBg">
        <el-table-column prop="date" label="日期" width="140">
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120">
        </el-table-column>
        <el-table-column prop="address" label="地址">
        </el-table-column>
        <!-- 编辑框 -->
      <el-table-column>
        <template slot-scope="scope">
          <el-button type="success" icon="el-icon-edit" @click="edit(scope.row)">编辑</el-button>
          <el-button type="danger" icon="el-icon-delete" @click="deleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
      </el-table>
     
      <!-- 分页 -->
      <div style="padding: 10px 0;">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage4"
          :page-sizes="[5, 10, 15, 20]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="400">
        </el-pagination>
      </div>

    </el-main>
  </el-container>
</el-container>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  
  data(){
    const item = {
        date: '2016-05-02',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }

    return{
      msg:'你好，李彤',
      tableData: Array(10).fill(item),
      collapseBtnClass:'el-icon-s-fold',
      isCollapse: false,
      sideWidth: 200,
      logoTextShow:true,
      headerBg : 'headerBg'
    }
  },
  methods:{
    collapse(){
        this.isCollapse=!this.isCollapse
        if(this.isCollapse){
          this.sideWidth=64
          this.collapseBtnClass='el-icon-s-unfold'
          this.logoTextShow=false
        }else{
          this.sideWidth=200
          this.collapseBtnClass='el-icon-s-fold'
          this.logoTextShow=true
        }
    }

  }
}
</script>
<style>
.headerBg{
  background: #eee !important;
}
</style>
