/* html,body,div{
    margin :0;
    padding : 0;
    

}
html,body{
    height: 100%;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;  
}
.pd-10{
    padding: 10px 0;
}